---
layout: page
# The Archives of posts.
---

{% include lang.html %}

{% assign df_strftime_m = site.data.locales[lang].df.archives.strftime | default: '/ %m' %}
{% assign df_dayjs_m = site.data.locales[lang].df.archives.dayjs | default: '/ MM' %}

<div id="archives" class="archive-list">
  {% for post in site.posts %}
    {% assign cur_year = post.date | date: '%Y' %}

    {% if cur_year != last_year %}
      {% unless forloop.first %}</ul>{% endunless %}

      <time class="archive-year">{{ cur_year }}</time>
      {{ '<ul class="post-list">' }}

      {% assign last_year = cur_year %}
    {% endif %}

    <li>
      <span class="archive-date" data-ts="{{ post.date | date: '%s' }}" data-df="DD">
        {{ post.date | date: '%d' }}
      </span>
      <span class="archive-month" data-ts="{{ post.date | date: '%s' }}" data-df="{{ df_dayjs_m }}">
        {{ post.date | date: df_strftime_m }}
      </span>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>

    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
</div>
