---
layout: compress
---

<!doctype html>

{% include origin-type.html %}

{% include lang.html %}

{% if site.theme_mode %}
  {% capture prefer_mode %}data-mode="{{ site.theme_mode }}"{% endcapture %}
{% endif %}

{% assign analytics_provider = '' %}
{% if site.analytics.umami.id %}
  {% assign analytics_provider = 'umami' %}
{% endif %}

<!-- `site.alt_lang` can specify a language different from the UI -->
<html
  lang="{{ page.lang | default: site.alt_lang | default: site.lang }}"
  {{ prefer_mode }}
  data-baseurl="{{ site.baseurl | default: '' }}"
>
  {% include head.html lang=lang %}

  <body data-analytics="{{ analytics_provider }}">
    {% include site-header.html lang=lang %}
    {% include mobile-drawer.html lang=lang %}

    <div id="page-shell">
      <main id="content" class="site-main" data-search-hide>
        {{ content }}
      </main>
    </div>

    {% include_cached footer.html lang=lang %}
    {% include_cached search-results.html lang=lang %}

    <aside aria-label="Scroll to Top">
      <button id="back-to-top" type="button" class="btn btn-lg btn-box-shadow">
        <i class="fas fa-angle-up"></i>
      </button>
    </aside>

    <div id="mask" class="d-none position-fixed w-100 h-100 z-1"></div>

    {% if site.pwa.enabled %}
      {% include_cached notification.html lang=lang %}
    {% endif %}

    <!-- Embedded scripts -->

    {% for _include in layout.script_includes %}
      {% assign _include_path = _include | append: '.html' %}
      {% include {{ _include_path }} %}
    {% endfor %}

    {% include_cached search-loader.html lang=lang %}
  </body>
</html>
