---
layout: default
---

{% include lang.html %}

<div class="site-container">
  <div class="page-layout">
    <article class="page">
  {% if page.layout == 'page' or page.collection == 'tabs' %}
    {% assign tab_key = page.title | downcase %}
    {% assign title = site.data.locales[lang].tabs[tab_key] | default: page.title %}
    <header class="page-header">
      <h1>{{ title }}</h1>
    </header>
    <div class="content">
      {% include refactor-content.html content=content lang=lang %}
    </div>
  {% else %}
    {{ content }}
  {% endif %}
    </article>
    {% include page-widgets.html lang=lang %}
  </div>
</div>
