---
layout: page
# All the Tags of posts.
---

<div id="tags" class="chip-row tag-cloud">
  {% assign tags = '' | split: '' %}
  {% for t in site.tags %}
    {% assign tags = tags | push: t[0] %}
  {% endfor %}

  {% assign sorted_tags = tags | sort_natural %}

  {% for t in sorted_tags %}
    <a class="chip" href="{{ t | slugify | url_encode | prepend: '/tags/' | append: '/' | relative_url }}">
      {{ t -}}
      <span class="count">{{ site.tags[t].size }}</span>
    </a>
  {% endfor %}
</div>
